/***********************************************************************************************************
                                               TAG SELECTIONS
************************************************************************************************************/

html {
    background-color: rgb(175,238,238);
    margin: 0;
    padding: 0;
}

body {
    width: 98%;
    background-color: rgb(224,255,255);
    margin: 0  auto; 
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0 15px 0 ;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

hr {
    width: 25%;
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 0;
    border-width: 2px;
    border-top: 0;
    border-color: black;
}



/***********************************************************************************************************
                                                GENERAL CONTENT 
************************************************************************************************************/

/************************
Navigation bar
*************************/


.main-nav li {
    list-style: none;
    margin-left: 15px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 15px 20px 0;
    background-color: rgb(175,238,238);
    margin-left: 0;
    margin-top: 0;
    font-weight: bold;
}

.intro {
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
}
/************************
footer
*************************/

.footer-content p {
    list-style: none;
    margin-left: 15px;
}


.footer-content {
    display: flex;
    justify-content: space-evenly ;
    padding: 5px 15px 5px 0;
    background-color: rgb(175,238,238);
    margin-left: 0;
    margin-top: 0;
}

/***********************************************************************************************************
                                                HOME PAGE
************************************************************************************************************/

.fig-content {
    display: flex;
    font-size: 70px;
    width: 850px;
    margin: 25px auto;
}

.fig-content
img {
    border: 5px solid #eeeeee;
    border-radius: 25%;
}

.title {
    margin: auto;
    font-family: 'Merienda', cursive;
    text-decoration: underline;
    color: #00adb5;
}

span {
    margin-right: 215px;
}

.paragraphs {
    margin-top: 0px;
    text-align: justify;
    line-height: 25px;
}




/***********************************************************************************************************
                                                HOBBIES PAGE
************************************************************************************************************/
figcaption {
    text-align: center;
    font-size: larger;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img-container
figure
img {
    border: 5px solid #00adb5;
}

/***********************************************************************************************************
                                                SKILLS PAGE
************************************************************************************************************/
.skills {
    margin-bottom: 170px;
    display: flex;
    width: 70%;
}

.table-content {
    width: 50%;
}

tr
td {
    padding-right: 15px;
}

th {
    text-decoration: underline;
}
/***********************************************************************************************************
                                                TUTORIAL PAGE
************************************************************************************************************/
.tutorials-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
}