@media print {

body {
   color: blanchedalmond;
}

h1 {
    color: black;
}

main {
    margin-bottom: 400px;
}

.title {
    color: black;
}

td, th {
    color: black;
    }

.skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
}

 
.tutorials-content {
    visibility: hidden;
}

}